<html lang="pt-br" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Arte de Game Design</title>
        
        <link href="lib/bootstrap.min.css" rel="stylesheet" />
        <link href="index.css" rel="stylesheet" />
    </head>
    <body ng-controller="MainController" ng-init="init()" ng-class="{ 'is-search-visible': isMenuActive('lenses') }">
        <!-- HEADER -->
        <div class="header">
            <h6 class="mt-3 mb-3 text-center">Arte de Game Design</h6>
    
            <div class="text-center mb-2">
                <ul class="main-menu">
                    <li ng-repeat="menu in menus" class="circle-button" ng-class="{ active: isMenuActive(menu) }" ng-click="selectMenu(menu)" title="{{menu.title}}">
                        <img ng-src="images/icons/{{menu.name}}.png" />
                    </li>
                </ul>
            </div>
         
            <div class="text-center">
                <ul class="sets-menu">
                    <li ng-repeat="set in sets" ng-class="{ active: set.active }" ng-click="selectSet(set)" ng-bind="set.title"></li>
                    <li class="sets-divider">|</li>
                    <li ng-repeat="set in customSets" ng-class="{ active: set.active }" ng-click="selectSet(set)" ng-bind="set.title"></li>
                </ul>
            </div>

            <div class="lenses-search mt-3" ng-show="isMenuActive('lenses')">
                <input type="text" class="form-control" ng-model="search" placeholder="buscar" uniform />
                <button ng-click="search = null">x</button>
            </div>
        </div>

        <div class="content">
            <!-- CARDS -->
            <div class="container" ng-if="isMenuActive('lenses')">
                <div class="row">
                    <div class="col-4" ng-repeat="lense in lenses | filter: filterLense">
                        <div class="lense-card mb-5">
                            <lense-card class="d-block mb-4" info="lense"></lense-card>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RANDOM -->
            <div class="container" ng-if="isMenuActive('random')">
                <div class="random-lense card">
                    <div class="card-body">
                        <lense-full-data info="randomLense"></lense-full-data>
                    </div>
                </div>
            </div>

            <!-- DIVINATION -->
            <div class="container" ng-if="isMenuActive('divination')">
                <div class="row">
                    <div class="col-2" ng-repeat-start="lense in divination" ng-show="$index % 2 == 0"></div>
                    <div class="col-4">
                        <div class="lense-card mb-5" ng-class="{ flipped: lense.flipped }">
                            <div class="lense-card-body">
                                <div class="lense-card-front">
                                    <lense-card class="d-block" info="lense"></lense-card>
                                </div>
                                <div class="lense-card-back" ng-click="flipLense(lense)">
                                    <img src="images/icons/random.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2" ng-repeat-end  ng-show="$index % 2 == 1"></div>
                </div>
            </div>
        </div>

        <modal class="lense-modal" is-open="isOpened" ng-controller="LenseModalController">
            <modal-body>
                <lense-full-data info="lense"></lense-full-data>
            </modal-body>
        </modal>
    </body>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/linq.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    
    <script src="lib/gj/helpers.js"></script>
    <script src="lib/gj/app.js"></script>
    <script src="lib/gj/modal.js"></script>
    <script src="lib/gj/bind-html-compile.js"></script>
    <script src="lib/gj/uniform.js"></script>
    
    <script src="app.js"></script>
    <script src="data.js"></script>
    <script src="index.js"></script>

    <!-- TEMPLATES -->
    <script type="text/ng-template" id="lense-card.html"> 
        <div class="card lense" ng-click="$parent.visualizeLense(lense)">
            <div class="card-body">
                <div class="card-title text-center">
                    <span class="lense-number" ng-bind="lense.number"></span>
                    <span class="lense-title" ng-bind="lense.smallTitle"></span>
                </div>

                <div class="lense-image mt-4 mb-3">
                    <img class="lense-image" ng-src="images/lenses/{{lense.number}}.png" />
                    <div class="text-right">
                        <span class="lense-image-illustrator">
                            Ilustrado por: {{lense.illustrator}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="lense-full-data.html">
        <div class="lense-full-data">
            <a class="lense-favorite-button circle-button small" ng-class="{ active: lense.favorite }" ng-click="$parent.toggleFavorite(lense)">
                <img src="images/icons/favorites.png" title="Favoritar" />
            </a>

            <div class="text-center">
                <span class="lense-number" ng-bind="lense.number"></span>
                <span class="lense-title" ng-bind="lense.title"></span>
            </div>

            <div class="lense-image mt-4 mb-3">
                <img class="lense-image" ng-src="images/lenses/{{lense.number}}.png" />
                <div class="text-right">
                    <span class="lense-image-illustrator">
                        Ilustrado por: {{lense.illustrator}}
                    </span>
                </div>
            </div>

            <hr class="hr" />
            <div class="lense-description" bind-html-compile="lense.description"></div>
            <div class="lense-page text-right mt-4">
                <div ng-show="lense.page.br">Arte de Game Design: o livro original <span class="ml-2">p {{lense.page.br}}</span></div>
            </div>
        </div>
    </script>
</html>